<form id="convertCurrencyForm" action="convert.html" method="post">
    <table class="registrationTable">
        <tr>
            <td>Amount</td>
            <td><input id="amount" name="amount" value="" class="form-control" placeholder="0.00"/></td>
        </tr>
        <tr>
            <td>From currency:</td>
            <td>
                <select id="from" name="from" class="form-control">
                    {{#each currencies}}
                        <option value="{{code}}">{{code}} - {{name}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>To currency:</td>
            <td>
                <select id="to" name="to" class="form-control">
                    {{#each currencies}}
                        <option value="{{code}}">{{code}} - {{name}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>As of date:</td>
            <td>
                <input type="date" name="date" id="asOfdate" class="form-control" placeholder="dd-MMM-yyyy (optional)"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <span id="submitContainer">
                    <input type="submit" class="btn btn-primary" value="Convert"/>
                </span>
                <span id="resultProgress" style="display:none">
                    <img src="/images/ajax-loader.gif"/>
                </span>
            </td>
        </tr>
    </table>
    <div id="error" class="error"></div>
</form>