<table class="table table-striped">
    <thead>
    <tr>
        <th>From Currency</th>
        <th>To Currency</th>
        <th>Rate</th>
        <th>Amount</th>
        <th>Result</th>
        <th>Rate Time</th>
    </tr>
    </thead>
    <tbody>
    {{#each historyList}}
        <tr>
            <td><b>{{currencyFrom.code}}</b>&nbsp;{{currencyFrom.name}}</td>
            <td><b>{{currencyTo.code}}</b>&nbsp;{{currencyTo.name}}</td>
            <td style="text-align: right">{{exrate rate}}</td>
            <td>{{double amount}} <b>{{currencyFrom.code}}</b></td>
            <td>{{double result}} <b>{{currencyTo.code}}</b></td>
            <td>{{timeStamp}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>